<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.aftery.mapper.UserMapper">
    <select id="queryUserList" resultType="top.aftery.entity.User">
        select * from user
    </select>
    <insert id="save">
        insert  into user(name,password,sex,age) values (#{name},#{password},#{sex},#{age})
    </insert>
</mapper>